@{
    ViewData["Title"] = "Página Inicial - Venda de Carros";
}
@model IEnumerable<RegistoModel>

<div class="container mt-5">
        <h1 class="">Registos de Carros</h1>
        <a class="btn btn-sucess" asp-controller="RegistoCarros" asp-action="Action">Novo Registro</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Preço</th>
                <th scope="col">AnoCarro</th>
                <th scope="col">Combustivel</th>
                <th scope="col">Cor</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var dados in Model)
                {
                    <tr>
                        <th scope="row">@dados.Id</th>
                        <td>@dados.Marca</td>
                        <td>@dados.Modelo</td>
                        <td>@dados.Preco</td>
                        <td>@dados.AnoCarro</td>
                        <td>@dados.TipoCombustivel</td>
                        <td>@dados.Cor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
